---
import FormattedDate from "./FormattedDate.astro";

const {title ,date,slug} = Astro.props;
---
<a href={`/blog/${slug}`}>
<article class="flex flex-row items-center justify-between">
    <h3 class="text-base text-black">{title}</h3>
    <p class="text-black">
        <FormattedDate date={date} />
    </p>
</article>
</a>